* {
    margin: 0;
    padding: 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
}

.header__menu ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.header__menu-link {
    text-decoration: none;
    color: #274C5B;
    font-family: "Roboto", serif;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: .36px;
}

.header__menu-link--active {
    color: #7EB693;
}

.header__cart {
    display: flex;
    border: 2px solid #D4D4D4;
    width: 159px;
    height: 70px;
    border-radius: 33px;
    align-items: center;
    gap: 10px;
}

.header__cart-button {
    margin-left: 11px;
}

.header__cart-button button:hover {
    cursor: pointer;
}

.header__cart-button button{
    background-color: #274C5B;
    border: 0;
    border-radius: 50%;
    height: 56px;
    width: 56px;
}

.header__button-img {
    display: flex;
    justify-content: center;
}

.header__cart-text {
    display: flex;
    gap: 7px;
}

.header__cart-text span{
    font-family: "Roboto", serif;
    color: #274C5B;
    font-size: 17px;
    line-height: 28.8px;
    letter-spacing: .36px;
}

.header__cart-text span:hover {
    cursor: default;
}

.header__main {
    
    height: 913px;
    background-image: url(../img/header/background.png);
    background-size: 100% 100%;
}

.header__main-h2 {
    padding: 220px 0 14px 30px;
}

.header__main-h2 h2 {
    font-family: "Yellowtail", serif;
    color: #7EB693;
    font-size: 36px;
    font-weight: normal;
    line-height: 64.8px;
    letter-spacing: .36px;
}

.header__main-h1 {
    padding-left: 30px;
}

.header__main-h1 h1 {
    font-family: "Roboto", serif;
    color: #274C5B;
    font-size: 70px;
    line-height: 84px;
    letter-spacing: .36px;
}

.header__main-button button {
    width: 219px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    gap: 24px;
    background-color: #EFD372;
    border: 0;
    border-radius: 16%;
    font-size: 19px;
    font-family: "Roboto", serif;
    color: #274C5B;
    margin-left: 30px;
}

.header__main-button button:hover {
    cursor: pointer;
}

.header__main-button-circle {
    align-content: center;
    width: 38px;
    height: 38px;
    background-color: #274C5B;
    border-radius: 50%;
}

.offer__items {
    display: flex;
    padding: 140px 30px;
    gap: 50px;
    justify-content: center;
}

.offer__item-1 {
    background-image: url(../img/offer/bck-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 665px;
    height: 378px;
}

.offer__item-1 h2 {
    margin: 105px 0 0 55px;
    font-family: "Yellowtail", serif;
    color: #fff;
    font-size: 36px;
    line-height: 64.8px;
    letter-spacing: .36px;
}

.offer__item-1 p {
    margin-left: 55px;
    font-family: "Roboto", serif;
    color: #fff;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: .36px;
}

.offer__item-2 {
    background-image: url(../img/offer/bck-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 665px;
    height: 378px;
}

.offer__item-2 h2 {
    margin: 105px 0 0 55px;
    font-family: "Yellowtail", serif;
    color: #7EB693;
    font-size: 36px;
    line-height: 64.8px;
    letter-spacing: .36px;
}

.offer__item-2 p {
    margin-left: 55px;
    font-family: "Roboto", serif;
    color: #274C5B;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: .36px;
}

.about {
    width: 100%;
    height: 1006px;
    background-color: #F9F8F8;
    display: flex;
    gap: 30px;
    display: flex;
    justify-content: center;
}

.about__image {
    background-image: url(../img/about/back.png);
    background-size: 100% 100%;
    width: 675px;
    height: 642px;
    padding: 177px 0 30px 0;
}

.about__description {
    padding: 130px 0 30px 0;
    /* width: 640px; */
}

.description__header h3 {
    font-family: "Yellowtail", serif;
    color: #7EB693;
    font-size: 36px;
    line-height: 64.8px;
    letter-spacing: .36px;
}

.description__header h2 {
    font-family: "Roboto", serif;
    color: #274C5B;
    font-weight: bold;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: .36px;
}

.description__header p {
    padding-top: 22px;
    font-family: "Open Sans", serif;
    color: #525C60;
    font-size: 18px;
    line-height: 32.4px;
    letter-spacing: .36px;
    width: 670px;
}

.description__main {
    padding-top: 56px;
}

.main__items {
    display: flex;
    gap: 20px;
}

.main__items__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 20%;
}

.main__items__card img {
    max-width: 53px;
    max-height: 46px;
}

.main__items__advantages h3 {
    font-family: "Roboto", serif;
    color: #274C5B;
    font-size: 25px;
    letter-spacing: .36px;
    line-height: 35px;
    margin-bottom: 9px;
}

.main__items__advantages p {
    font-family: "Open Sans", serif;
    color: #525C60;
    font-size: 18px;
    letter-spacing: .36px;
    line-height: 32.4px;
    margin-bottom: 30px;
    width: 540px;
}